name: Pipeline Flask App
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  Pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
      
      - name: Install dependencies
        run: pip install pytest

      - name: build dockerfile
        run: |
          docker build -t flask-app .

      - name: run docker container
        run: |
          docker run -d -p 5000:5000 --name flask-container flask-app

      - name: Run tests
        run: |
          pytest

  Dockerfile-publish:
    needs: Pytest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: user/flask-app:latest
